<!-- <div class="col-md-2 shortcuts">
  <div class="shortcut-box">
    <a href="#"><i class="fa fa-user shortcut-icon" aria-hidden="true"></i><h2>About Me</h2></a>
  </div>
  <div class="shortcut-box">
    <a href="#"><i class="fa fa-code shortcut-icon" aria-hidden="true"></i><h2>Projects</h2></a>
  </div>
  <div class="shortcut-box">
    <a href="#contact"><i class="fa fa-envelope shortcut-icon" aria-hidden="true"></i><h2>Contact</h2></a>
  </div>

</div> -->


<div class="col-xs-12 col-md-12 info-container">
    <div class="about">
      <div class="about-image">
        <img src="/images/geoffsquare.jpg" alt="" />
      </div>
        <div class="about-info">
        <h1>About Me</h1>
        <p>
          Though originally from New Jersey, I have called Charleston my home for the past 12 years and recently have made the plunge into the wonderful world of web development. It has been a pleasure to find a new passion,
           solving problems and creating new and exciting sites is something I truly enjoy. With my newfound skills and old ones I plan on forging a new career and make something of myself in the burgeoning Charleston Tech Industry.
        </p>
      </div>
    </div>
    <div class="projects">
        <ul>
            <li>
                <div class="project-image">
                    <a href="https://www.searchandenjoy.online"><img src="./images/Screen Shot 2016-08-25 at 1.43.18 PM.png" alt="search and enjoy" />Click image for live site</a>
                </div>
                <div class="project-info">
                    <h1>Search and Enjoy</h1>
                    <p>
                      My final group project at the Iron Yard. A location-based mobile trivia game that has teams racing around Charleston to solve a series of clues.
                    </p>
                    <h2>Tech Used</h2>
                    <p>
                      AngularJS, JavaScript, gMaps.js, Flipclock.js, Gulp, Sass, CSS, Bootstrap, HTML
                    </p>
                    <div class="project-links">
                      <a href="https://github.com/SearchAndEnjoy/ScavengerHunt"> <i class="fa fa-github icon" aria-hidden="true"></i> </a>
                      <h3>Search and Enjoy Repository </h3>
                    </div>

                </div>
            </li>
            <li>
                <div class="project-image">
                  <a href="http://gusty-humor.surge.sh/#game-enter">  <img src="./images/Screen Shot 2016-08-26 at 2.18.53 PM.png" alt="grid game" />Click image for live site</a>
                </div>
                <div class="project-info">
                    <h1>Grid Game</h1>
                    <p>
                      A simple game made during class that has the user get a high score by moving around the grid with power-ups that grant them more energy.
                    </p>
                    <h2>Tech Used</h2>
                    <p>
                      JavaScript, BackboneJS, Gulp, Sass, Bootstrap, CSS, HTML
                    </p>
                    <div class="project-links">
                      <a href="https://github.com/geomaas/gridgame-part-trois"> <i class="fa fa-github icon" aria-hidden="true"></i></a>
                      <h3>Grid Game Repository</h3>
                    </div>
                </div>
            </li>
            <li>
                <div class="project-image">
                    <img src="./images/Screen Shot 2016-08-26 at 1.35.05 PM.png" alt="Iron Pizza" />
                </div>
                <div class="project-info">
                    <h1>Iron Pizza</h1>
                    <p>
                      Our first group project with the Java class. Its a fictional pizza place that allows custom ordering on the website.
                    </p>
                    <h2>Tech Used</h2>
                    <p>
                      JavaScript, jQuery, Gulp, Sass, CSS, Bootstrap, HTML
                    </p>
                    <div class="project-links">
                      <a href="https://github.com/BTurner00/IronPizza"> <i class="fa fa-github icon" aria-hidden="true"></i></a>
                      <h3>Iron Pizza Repository</h3>
                    </div>
                </div>
            </li>
        </ul>

    </div>
    <div class="contact" id="contact">
      <a name="contact"></a>
        <h1>Contact Info</h1>
        <div class="contact-box">
          <a href="tel:17322218683"><i class="fa fa-phone contact-icon" aria-hidden="true"></i> <h3>732-221-8683</h3></i></a>
        </div>
        <div class="contact-box">
          <a href="mailto:geoff.maas@gmail.com"><i class="fa fa-envelope contact-icon" aria-hidden="true"></i> <h3>Email</h3></i></a>
        </div>
        <div class="contact-box">
          <a href="https://github.com/geomaas" target="_blank"><i class="fa fa-github contact-icon" aria-hidden="true"> </i><h3>Github</h3></i></a>
        </div>
        <div class="contact-box">
          <a href="https://www.linkedin.com/in/geoffmaas" target="_blank"><i class="fa fa-linkedin-square contact-icon" aria-hidden="true"></i><h3>LinkedIn</h3></i></a>
        </div>
        <div class="contact-box">
          <a href="" target="_blank"><i class="fa fa-file-pdf-o contact-icon" aria-hidden="true"></i><h3>Resume</h3></i></a>
        </div>
        <a href="#"></a>
    </div>

</div>
