<!-- <div class="col-md-2 shortcuts">
  <div class="shortcut-box">
    <a href="#"><i class="fa fa-user shortcut-icon" aria-hidden="true"></i><h2>About Me</h2></a>
  </div>
  <div class="shortcut-box">
    <a href="#"><i class="fa fa-code shortcut-icon" aria-hidden="true"></i><h2>Projects</h2></a>
  </div>
  <div class="shortcut-box">
    <a href="#contact"><i class="fa fa-envelope shortcut-icon" aria-hidden="true"></i><h2>Contact</h2></a>
  </div>

</div> -->


<div class="col-xs-12 col-md-12 info-container">
    <div class="about">
      <div class="about-image">
        <img src="/images/geoffsquare.jpg" alt="" />
      </div>
        <div class="about-info">
        <h1>About Me</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
    <div class="projects">
        <ul>
            <li>
                <div class="project-image">
                    <a href="https://www.searchandenjoy.online"><img src="./images/Screen Shot 2016-08-25 at 1.43.18 PM.png" alt="search and enjoy" /></a>
                </div>
                <div class="project-info">
                    <h1>Search and Enjoy</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor

                    </p>
                    <h2>Tech Used</h2>
                    <ul>
                        <li>stuff</li>
                        <li>stuff2</li>
                        <li>stuff3</li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="project-image">
                    <img src="" alt="" />
                </div>
                <div class="project-info">
                    <h1>Iron Pizza</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <h2>Tech Used</h2>
                    <ul>
                        <li>stuff</li>
                        <li>stuff2</li>
                        <li>stuff3</li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="project-image">
                    <img src="" alt="" />
                </div>
                <div class="project-info">
                    <h1>Sk8 Shop</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <h2>Tech Used</h2>
                    <ul>
                        <li><i class="fa fa-github" aria-hidden="true"></i></li>
                        <li>stuff2</li>
                        <li>stuff3</li>
                    </ul>
                </div>
            </li>
        </ul>

    </div>
    <div class="contact" id="contact">
      <a name="contact"></a>
        <h1>Contact Info</h1>
        <div class="contact-box">
          <a href="tel:17322218683" <i class="fa fa-phone contact-icon" aria-hidden="true"></i> <h3>732-221-8683</h3></i></a>
        </div>
        <div class="contact-box">
          <a href="mailto:geoff.maas@gmail.com" <i class="fa fa-envelope contact-icon" aria-hidden="true"></i> <h3>Email</h3></i></a>
        </div>
        <div class="contact-box">
          <a href="https://github.com/geomaas" <i class="fa fa-github contact-icon" aria-hidden="true"> <h3>Github</h3></i></a>
        </div>
        <div class="contact-box">
          <a href="https://www.linkedin.com/in/geoffmaas" <i class="fa fa-linkedin-square contact-icon" aria-hidden="true"></i><h3>LinkedIn</h3></i></a>
        </div>
    </div>

</div>
